{{ extends "global/Page.html" }}
{{ block title }}理解检查{{ endblock }}
{{ block content }}

<p>
    为了确保你理解了本轮游戏规则，请回答以下问题。
</p>

<div class="question-container">
{% for question in ordered_questions %}
    <div class="question-item">
    {% if question == 'comprehension_q1' %}
        {{ formfield 'comprehension_q1' }}
    {% elif question == 'comprehension_q2' %}
        {{ formfield 'comprehension_q2' }}
    {% elif question == 'comprehension_q3' %}
        {{ formfield 'comprehension_q3' }}
    {% elif question == 'comprehension_q4' %}
        {{ formfield 'comprehension_q4' }}
    {% endif %}
    </div>
{% endfor %}
</div>

<button class="otree-btn-next btn btn-primary" type="submit">下一步</button>

{{ endblock }}

{{ block styles }}
<style>
    .otree-title,
    h1 {
        visibility: hidden !important;
    }

    .otree-btn-next {
        float: right !important;
        margin-top: 10px !important;
    }

    .form-check {
        margin-bottom: 2px;
        display: inline-block;
        margin-right: 30px;
    }

    .question-item .controls {
        padding-left: 2.5em;
    }

    .form-group {
        margin-bottom: 8px !important;
    }

    p {
        margin-bottom: 10px !important;
    }

    .question-container {
        counter-reset: qnum;
    }
    .question-item {
        counter-increment: qnum;
    }
    .question-item > div > label:first-child::before {
        content: "（" counter(qnum) "）";
    }
</style>
{{ endblock }}
